.user {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  align-items: center;
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  background-color: #000;
  padding: 8px 15px;
  border-radius: 8px;
  color: #F0EFF2;
  opacity: .8;
  font-size: 14px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button {
  border: none;
  border-radius: 8px;
  color: #F0EFF2;
  text-transform: uppercase;
  background-color: #394043;
  padding: 5px;
  font-family: 'Manrope', sans-serif;
  font-size: 10px;
  cursor: pointer;
  transition: background-color ease-in-out .1s;
}

.button:hover {
  background-color: #232628;
}