.nav {
  margin: 30px 0;
}

.nav a {
  color: #E8EEF1;
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.links li {
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #383F42;
}

.active {
  background-color: #212526 !important;
}
