.city {
  padding: 10px 20px;
  list-style: none;
  background-color: #383F42;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  border-left: 3px solid #34bd2a;
  cursor: pointer;
}

.city a {
  display: flex;
  justify-content: space-between;
  color: white;
}

.city:hover {
  border-left: 3px solid #6bff62;
}

.left {
  display: flex;
  column-gap: 15px;
}

.flag {
  width: 20px;
}


.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #262F31;
  border: none;
  border-radius: 50%;
  margin-left: 15px;
  color: #E8EEF1;
  padding-bottom: 1px;
  font-size: 10px;
  transition: all ease-in 0.07s;
}

.remove:hover {
  background-color: #F8AC34;
  color: black;
  font-weight: 800;
}

