.nav {
  background-color: #484A4D;
  padding: 20px 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #E8EEF1;
}

.login {
  padding: 5px 10px;
  background-color: #01BC5B;
  border-radius: 5px;
}