.map {
  width: calc(100vw - 400px);
  height: 100vh;
}

.flag {
  width: 20px;
}

.whereiam {
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: #2d6728;
  color: #E8EEF1;
  padding: 3px;
  border: none;
  cursor: pointer;
}