.details {
  color: #E8EEF1;
  background-color: #373E40;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  text-transform: uppercase;
  font-size: 8px;
  color: #868D8E;
  font-weight: 900;
  margin-bottom: 4px;
}

.flag {
  width: 30px;
  margin-right: 10px;
}

.name {

}

.date,
.notes {
  font-size: 12px;
  margin-bottom: 20px;
}

.link {
  color: #da9a16;
  font-size: 12px;
  text-decoration: underline;
}

.button {
  display: block;
  background-color: transparent;
  border: 1px solid #E8EEF1;
  color: #E8EEF1;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}